<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>D15124507 | Slawomir Malczewski</title>
    <%= stylesheet_link_tag 'public', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <%= stylesheet_link_tag "public" %>
    <%= javascript_include_tag "myownjavascript", "data-turbolinks-track" => true  %>
  </head>
  <body>

<!-- navigation start -->
  <%= render(:partial=>"menu") %>
<!-- navigation end -->

<!-- body content start -->

  <% if !flash[:notice].blank? %>
    <div class="alert alert-success" style="text-align: center;">
      <%= flash[:notice] %>
    </div>
  <% end %>

  <div class="container">
    <%= yield %>
  </div>
<!-- body content end-->

<!-- footer start -->
<div class="myfooter">
    <p class="text-muted">&copy; Slawomir Malczewski 2018</p>
</div>
<!-- footer end -->

  </body>
</html>
